registry=https://registry.npmjs.org/

# Use Azure feed for @ciscode-apps scope
@ciscode-apps:registry=https://pkgs.dev.azure.com/CISCODEAPPS/Templates/_packaging/packages-fe/npm/registry/                  
always-auth=true

